body{
    text-align: center;
}

.barra{
    display: block;
    
     box-sizing: border-box;
     width: 100%;
     height: 40px;    
     padding: 9px;
     border: 100px;
 
         color: white;
         background-color: black;
         position: sticky;
         top: 0px;
 
     font-family:cursive;
 }
 
 #voltar{
     position: relative;
     height: 20px;
     right: 350px;
     
 }
 
 #Bob{
     position: relative;
     height: 20px;
     right: 190px;
 }
 
 #Nw{
     position: relative;
     height: 20px;
     right: 50px;
 }
 
 #Jackson{
     position: relative;
     height: 20px;
     left: 70px;
 }
 
 #racionais{
     position: relative;
     height: 20px;
     left: 200px;
 }
 
 #sobre{
     position: relative;
     height: 20px;
     left: 350px;
     
 }
 