body{
    text-align: center;
    background-image: linear-gradient(to right, rgb(44, 41, 41), rgb(185, 167, 167));
    color: black;
}

div{
    font-size: large;
}

.imagen{
    border: solid black 5px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

