body{
    text-align: center;
    background-image: linear-gradient(to right, green, yellow, red);    
}

.barra{
    margin: 0px;
    min-width: 300px;
    border: solid 20px;
    border-width: 100% ;
    border-color: black;
    height: px;    
    background-color: black;
    position: sticky;
    top: 0px;
    

    font-family:cursive;
}

#voltar{
    display: inline;
    position: relative;
    height: 20px;
    right: 350px;
    
}

#Jackson{
    display: inline;
    position: relative;
    height: 20px;
    right: 190px;
}

#Nw{
    display: inline;
    position: relative;
    height: 20px;
    right: 50px;
}

#Beatles{
    display: inline;
    position: relative;
    height: 20px;
    left: 70px;
}

#racionais{
    display: inline;
    position: relative;
    height: 20px;
    left: 200px;
}

#sobre{
    
    display: inline;
    position: relative;
    height: 20px;
    left: 350px;
    
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#bibiografia{
    font-style: oblique;
    font-size: 30px;
}