body{
    text-align: center;
    background-color: rgb(2, 2, 54);
    color: white;
}

div{
    font-size: large;
}

.titulo{
    font: 30px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

 
 