body{
    background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=pexels-pixabay-36717.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}

div{
    font-size: large;
}

.perfil{
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    border-color:rgb(90, 61, 117)
}

h1{
    font-family: cursive;
}


