body{
    background-color: rgb(31, 36, 36);
    border: solid black;
    max-width: 100%;

}

.titulo{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: rgb(255, 255, 255);
    
}

h3{
    text-align: center;
    color: aliceblue;
}

span{
    color: white;
    text-align: center;
    font-family:cursive;
    position: relative;
}

#Bob{
    position: relative;
    left: 100px;

}


#Michael{
    position: relative;
    left:  340px;

}

#N{
    position: relative;
    left: 570px;
}

#Beatles{
    position: relative;
    left: 840px;
}


#marley{
    position: relative;
    left: 20px;
    top: 12px;
    border: solid black 5px;

}

#michael{
    position: relative;
    left: 100px;
    top: 12px;
    border: solid black 5px;
}

#nwa{
    position: relative;
    left: 175px;
    top: 3px;
    border: solid black 5px;
}

#beatles{
    position: relative;
    left: 250px;
    top: 9px;
    border: solid black 5px;
}

.sobre{
    text-align: center;
}