body{
    background-color: rgb(31, 36, 36);
    border: solid black;

}

.titulo{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: rgb(255, 255, 255);
    
}

h3{
    text-align: center;
    color: aliceblue;
}

span{
    color: white;
    text-align: center;
    font-family:cursive;
    position: relative;
}

#Bob{
    position: relative;
    left: 100px;

}


#Michael{
    position: relative;
    left:  320px;

}

#N{
    position: relative;
    left: 550px;
}

#Beatles{
    position: relative;
    left: 730px;
}

#racionais{
    position: relative;
    left: 900px;
}

h4{
    color: #000;
    
     height: 30px;
     width: 900px;
}

#marley{
    position: relative;
    left: 20px;
    top: 12px;
    border: solid black 5px;

}

#michael{
    position: relative;
    left: 70px;
    top: 12px;
    border: solid black 5px;
}

#nwa{
    position: relative;
    left: 120px;
    top: 12px;
    border: solid black 5px;
}