body{
    background-color: rgb(31, 36, 36);
    border: solid black;

}

.titulo{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: rgb(255, 255, 255);
}

h3{
    text-align: center;
    color: aliceblue;
}

span{
    text-align: center;
    font-family:cursive;
    position: relative;
}

#Bob{
    position: relative;
    left: 100px;

}


#Michael{
    position: relative;
    left:  320px;

}

#N{
    position: relative;
    left: 450px;
}

#Beatles{
    position: relative;
    left: 630px;
}

#racionais{
    position: relative;
    left: 800px;
}

h4{
    color: #000;
    text-align: end ;
}

#marley{
    position: relative;
    left: 20px;
    top: 12px;
    border: solid black 5px;

}